body {
  font-family: Lato;
  font-style: normal;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: 4fr minmax(70px, 1fr);
  margin: 0 auto;
  width: 98%;
}

.backlog {
  position: sticky;
  top: 0;
  background-color: #d2d2d2;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  height: 100vh;
}

.backlog-name {
  font-size: 24px;
  font-weight: 600;
  margin: 5px auto;
}

.backlog-list {
  overflow: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 17px;
}

.backlog-item {
  box-sizing: border-box;
  width: 100%;
  background-color: whitesmoke;
  padding: 5px 10px;
  margin: 2px auto;
  cursor: grab;
}

.search {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
}

.search-input {
  width: 100%;
  padding: 2px 2px 2px 10px;
  box-sizing: border-box;
  border: none;
  outline: none;
  height: 100%;
}

.search-button {
  right: 0px;
  border: none;
  background-color: white;
  border-left: 1px solid #d2d2d2;
  display: flex;
  align-items: center;
}

.search-button:hover .search-svg {
  transform: scale(1.2);
  cursor: pointer;
}

.search-button:hover {
  cursor: pointer;
}

.diagram {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.button {
  background-color: mediumseagreen;
  border: 1px solid rgb(45, 143, 89);
  color: white;
  border-radius: 2px;
  padding: 4px 10px;
}

.button:hover {
  background-color: rgb(45, 143, 89);
  border: 1px solid rgb(45, 143, 89);
  cursor: pointer;
}

.table {
  display: grid;
  border-bottom: 1px solid black;
}

.task {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: mediumseagreen;
  padding: 1px;
}

.td {
  position: relative;
  border-top: 1px solid black;
  padding: 1px;
  display: grid;
  row-gap: 1px;
  grid-auto-rows: 1fr;
  color: white;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.td-author {
  padding-left: 0px;
}

.author {
  font-size: 17px;
  font-weight: 400;
}

.task:hover .task-about {
  display: block;
}

.task-about {
  display: none;
  position: absolute;
  top: 0px;
  left: 100%;
  background-color: rgb(235, 233, 233);
  width: max-content;
  border: 2px solid black;
  padding: 10px;
  z-index: 99;
  color: black;
}

.task-about__item {
  font-size: 17px;
  line-height: 19px;
  font-weight: 400;
}

.date-cell {
  position: relative;
  border: 1px solid rgb(172, 171, 171);
  border-bottom: none;
  padding: 5px;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
}

.hover {
  background-color: rgb(255, 141, 1);
  z-index: 50;
}

.error {
  font-size: 29px;
  color: red;
}

.today {
  border-left: 0px;
}

.today::before {
  content: "";
  position: absolute;
  height: 100%;
  left: -4px;
  background-color: rgb(181, 181, 181);
  width: 8px;
  z-index: 2;
  top: 0px;
}

.date-cell.today::after {
  content: "today";
  font-size: 14px;
  position: absolute;
  left: -4px;
  bottom: 100%;
  background-color: rgb(181, 181, 181);
  padding: 1px 3px;
  z-index: 2;
}

@media (max-width: 768px) {
  .today::before {
    left: -2px;
    width: 4px;
    z-index: 2;
    top: 0px;
  }

  .date-cell.today::after {
    font-size: 11px;
    left: -2px;
    padding: 1px 1px;
    z-index: 2;
  }

  .container {
    width: 99%;
    grid-template-columns: 8fr 1fr;
  }

  .task-about__item {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
  }

  .buttons {
    margin-bottom: 15px;
  }

  .button {
    font-size: 11px;
    padding: 2px 5px;
  }

  .table {
    grid-template-rows: auto;
  }

  .td {
    font-size: 11px;
    font-weight: 300;
  }

  .date-cell {
    padding: 3px;
    font-size: 11px;
  }

  .author {
    font-size: 11px;
    font-weight: 300;
  }

  .backlog {
    padding: 3px;
  }

  .backlog-name {
    font-size: 14px;
    font-weight: 400;
    margin: 2px auto;
  }

  .backlog-list {
    font-size: 11px;
    font-weight: 300;
  }

  .backlog-item {
    padding: 2px 3px;
    margin: 1px auto;
  }

  .author {
    font-size: 11px;
    font-weight: 300;
  }

  .search {
    width: 100%;
    position: relative;
    margin-bottom: 5px;
  }

  .search-input {
    width: 100%;
    padding: 0px;
    box-sizing: border-box;
    border: none;
    outline: none;
    height: 100%;
    font-size: 11px;
  }

  .search-button {
    position: absolute;
    right: 0px;
    border: none;
    background-color: white;
    border-left: 1px solid #d2d2d2;
    height: 100%;
    padding: 1px;
  }
}

@media (max-width: 580px) {
  .task-about__item {
    font-size: 11px;
    line-height: 14px;
    font-weight: 300;
  }

  .buttons {
    margin-bottom: 15px;
  }

  .td {
    font-size: 10px;
    font-weight: 200;
  }

  .date-cell {
    padding: 2px;
    font-size: 10px;
  }

  .author {
    font-size: 10px;
    font-weight: 300;
  }

  .backlog {
    padding: 1px 0px;
  }

  .backlog-name {
    font-weight: 300;
  }

  .backlog-list {
    font-size: 10px;
    font-weight: 200;
  }

  .backlog-item {
    padding: 0px;
    margin: 1px auto;
  }

  .author {
    font-size: 10px;
    font-weight: 200;
  }

  .search-input {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
    width: 100%;
  }

  .task-about__item {
    font-size: 10px;
    line-height: 12px;
    font-weight: 200;
  }
}